body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    color: #ffffff;

}
div.bg{
    background-color: rgba(128, 168, 150, 0.4);
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 10px;
    
}
#TitleName{
    margin: 30px;
    color: rgba(255, 254, 254,0.6) ;
}
#yourName{
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: small;
}
#textBox{
    opacity: 0.5;
    background-color: white;
}
#textBox:focus{
    border-radius: 5px;
}
#field1{
    color: white;
    text-align: center;
    font-size: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
   
}
#textBox1{
    margin: 10px;
    background-color: rgb(118, 216, 206);
    opacity: 0.8;
    width: 200px;
    height: 80px;
}
#textBox2{
    margin: 10px;
    background-color: rgb(118, 216, 206);
    opacity: 0.8;
    width: 200px;
    height: 80px;

}
#textBox1:focus {
    background-color: rgb(187, 233, 247);
    box-shadow: 10px;
    border-radius: 5px;
  }

#textBox2:focus {
   background-color: rgb(187, 233, 247);
   box-shadow: 10px;
   border-radius: 5px;
}
#yesMaybe{
    margin-top: 10px;
    margin-bottom: 10px;
}
#bestColour{
    margin-top: 10px;
    margin-bottom: 10px;
}
